<h1>Showing post</h1>
<h3><%= @post.title%></h3>
<p><%= @post.body%></p>
<% if @post.image.attached? %>
    <p><%= image_tag(@post.image, style: 'width: 20%') %></p>
<% end %>

<%= link_to "All Posts", posts_path%>
<%= link_to "Edit post" , edit_post_path(@post) %>
<%= link_to "Delete", delete_post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
